@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.map {
  margin-top: 14px;
  border-radius: 16px;
  overflow: hidden;
}
